@model App.ViewModels.CreateRaceRequest

@{
    ViewData["Title"] = "DetailsRace";
}

<h1>RAce</h1>

<h4>Race</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                @Html.DisplayFor(model => model.Name)
            </div>
            
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

